.banner {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;

  &-title,
  .title {
    font-family: $family-banner;
  }
}

.is-neon {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.219);
}

.is-rounded {
  border-radius: $radius-large;
}

.is-0 {
  font-size: 12vw;
}

body {
  &::-webkit-scrollbar {
    width: 14px;
    padding: 2px;

    &-track {
      background: $dark;
    }

    &-thumb {
      background-clip: padding-box;
      background: linear-gradient(to bottom, $primary, darken($primary, .8));
      box-shadow: 0 0 20px 20px transparentize($primary, 0);
      border-radius: 0;
    }
  }
}
