$default-family: -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$family-banner: "Bebas Neue", $default-family;
$family-sans-serif: "Roboto", $default-family;

// Color palette
$primary: rgb(111, 0, 255);
$info: rgb(176, 0, 192);
$link: rgb(0, 102, 255);
$dark: rgb(28, 15, 36);
